<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <%- include('../layout') %>
        <div class="py-2">
            <a href="/" class="btn btn-success">กลับหน้าแรก</a>
        </div>
        <hr>
        <h2>
            <%= data %>
        </h2>

        <% if (locals.errors) { %>
            <ul class="alert alert-danger">
                <% Object.values(errors).forEach(function(error){ %>
                    <li class="mx-4">
                        <%= error.msg %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <form action="/blogs/edit/<%= blog._id %>" method="POST">
                    <div class="mb-3">
                        <label for="">ชื่อบทความ</label>
                        <input type="text" name="title" class="form-control" value="<%= blog.title  %>">
                    </div>
                    <div class="mb-3">
                        <label for="">ผู้เขียน</label>
                        <input type="text" name="author" class="form-control" value="<%= blog.author  %>">
                    </div>
                    <div class="mb-3">
                        <label for="">หมวดหมู่</label>
                        <select name="category" id="" class="form-control">
                            <option value="นิยาย" <% if (blog.category=="นิยาย" ) { %>
                                selected
                                <% } %>
                                    >นิยาย
                            </option>
                            <option value="สารคดี" <% if (blog.category=="สารคดี" ) { %>
                                selected
                                <% } %>
                                    >สารคดี
                            </option>
                        </select>
                    </div>
                    <input type="submit" value="บันทึก" class="btn btn-primary">
                </form>
                <p>by Thongchai</p>
</body>

</html>